* {
    padding: none;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.leftBar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F3F3F3;
    margin-left: 0px;
    width: 200px;
    height: 100%;
}

.leftBar .optionBtn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: none;
}

.leftBar .optionBtn:hover {
    background-color: rgb(235, 233, 233);
}

.leftBarSelectedButton {
    background-color: rgb(235, 233, 233);
}

.leftBar .optionBtn img {
    width: 20px;
    height: 20px;
}

.leftBar .optionBtn p {
    font-family: arial;
}

.leftBar .leftBatTopFiller {
    height: 20px;
}

.mainWrapper {
    position: fixed;
    right: 0px;
    top: 0px;
    width: calc(100% - 200px);
    height: 100%;
    background: none;
}

#ClockScreen,
#TimerScreen,
#StopwatchScreen {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 240, 241, 0.418);
}

/* Clock Screen */

#ClockScreen {
    display: block;
}

.clockScreenWrapper {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockBackground {
    background-color: rgb(226, 228, 233);
    width: 600px;
    height: 250px;
    box-shadow: 0 0 16px 16px lightgray;
    position: relative;
}

#clockTime {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 200px;
    font-family: arial;
    color: white;
    text-shadow: 0 0 10px lightgray;
    line-height: 230px;
    background: none;
}

/* Timer Screen */

#TimerScreen {
    display: none;
}

#StopwatchScreen {
    display: none;
}